html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#map {
    width: 100%;
    height: 100%;
}

#selectForm {
    position: absolute;
    right: 300px;
    z-index: 1;
    border: 1px solid red;
    background-color: 'rg';
}
